DATABASE_URL="postgresql://postgres:postgres@localhost:5432/seapedia"
JWT_SECRET="seapedia-super-secret-jwt-key-change-in-production"
JWT_EXPIRES_IN="7d"
PORT=3001
NODE_ENV=development
REDIS_HOST=localhost
REDIS_PORT=6379

# Xendit Configuration
XENDIT_SECRET_KEY=
NEXT_PUBLIC_XENDIT_PUBLIC_KEY=
XENDIT_WEBHOOK_TOKEN=
NEXT_PUBLIC_APP_URL=http://localhost:3000